[Desktop Entry]
Type=Application
Version=1.0
Name=Command Center
GenericName=Command launcher
Comment=Personal Soft GNOME command launcher
Exec=REPLACE_ME
Icon=command-center
Terminal=false
Categories=Utility;GTK;
StartupNotify=true
StartupWMClass=command-center
Keywords=launcher;scripts;commands;
